.algo-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.algo-card:hover {
  transform: translateY(-5px);
}

.algo-image {
  height: 200px;
  object-fit: cover;
}

.algo-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.algo-link1 {
  text-decoration: none;
  color: #333;
}

.algo-link:hover {
  color: #555;
}

.algo-card .card-body {
  padding: 20px;
}


.col-md-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

@media (max-width: 991px) {
  .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 767px) {
  .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
