.val{
    width: 70px;
    height: 70px;
    border: 1px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.traverse{
    background-color: blue;
}

.success{
    background-color: green;
}

.search_space{
    background-color: yellow;
}