
  .graphBtn{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 32px;
    margin-bottom: 66px;
  }

  .visNodes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    gap: 13px;
  }
  